.job-edit {
  padding: 20px;
}

.job-edit h2 {
  text-align: center;
}

.job-edit form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.job-edit label {
  font-weight: bold;
}

.job-edit input, .job-edit textarea {
  padding: 8px;
  border: 1px solid black; 
  border-radius: 4px; 
}

.job-edit textarea {
  width: 100%; 
  min-height: 100px; 
}

.job-edit button {
  padding: 10px;
  cursor: pointer;
  margin-top: 10px; 
}

.btn-save {
  margin-right: 10px; 
}

.btn-cancel {
  margin-right: 0px;
}
