body {
  font-family: Arial, sans-serif;
}

/* SearchJobs.css */
.search-jobs {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.highlight {
  color: #ff5722; 
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
}

input[type="text"] {
  padding: 10px 30px;
  font-size: 16px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.search-button, .clear-button {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #007bff; /* or any other button color */
  color: white;
<<<<<<< HEAD

}

=======

}

>>>>>>> 2ac89c72285305fe9f22c094789937b7da3b7760
.search-button:hover, .clear-button:hover {
  background-color: #0056b3; /* darker shade or different hover color */
}

.job-list {
  margin-top: 20px;
}

.job-item {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.job-item:hover {
  background-color: #e9ecef; /* hover background color */
}

.job-details {
  cursor: pointer;
}

.job-details h3 {
  margin-bottom: 5px;
<<<<<<< HEAD
=======

>>>>>>> 2ac89c72285305fe9f22c094789937b7da3b7760
}

.search-button:hover, .clear-button:hover {
  background-color: #0056b3; /* darker shade or different hover color */
}

.job-list {
  margin-top: 20px;
}

.job-item {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.job-item:hover {
  background-color: #e9ecef; /* hover background color */
}

.job-details {
  cursor: pointer;
}

.job-details h3 {
  margin-bottom: 5px;
}

