.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.small-logo {
  height: 40px;
}

.nav-link {
  color: black;
  text-decoration: none;
  margin: 0 15px;
  display: flex;
  align-items: center;
}

.nav-icon {
  margin-right: 8px;
}

.profile-icon {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 15px;
  cursor: pointer;
}

.profile-picture-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #425060;
}

.dropdown-menu {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  z-index: 1000;
}

.dropdown-item {
  padding: 10px 15px;
  color: black;
  text-align: left;
  text-decoration: none;
  display: block;
  white-space: nowrap;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
}

ul li {
  margin: 0 10px;
}
